{{>layout/header}}

<h1>SpringBoot Web Service</h1>

<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <a href="/api/products" role="button" class="btn btn-primary">register</a>
        </div>
    </div>
</div>

{{>layout/footer}}